doctype html
html
  head
    meta(charset='utf-8')
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    title Slick-lightbox by mreq
    link(href='gh-pages/stylesheets/styles.css', rel='stylesheet')
    link(href='gh-pages/stylesheets/pygment_trac.css', rel='stylesheet')
    meta(content='width=device-width, initial-scale=1, user-scalable=no', name='viewport')
    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
  body
    .wrapper
      header
        h1 Slick-lightbox
        p
          | A lightbox wrapper for Ken's amazing slick carousel - http://github.com/kenwheeler/slick.
        p.view
          a(href='https://github.com/mreq/slick-lightbox')
            | View the Project on GitHub
            small mreq/slick-lightbox
        ul
          li
            a(href='https://github.com/mreq/slick-lightbox/zipball/master')
              | Download
              strong ZIP File
          li
            a(href='https://github.com/mreq/slick-lightbox/tarball/master')
              | Download
              strong TAR Ball
          li
            a(href='https://github.com/mreq/slick-lightbox')
              | View On
              strong GitHub
      section
        include:md README.md
      footer
        p
          | This project is maintained by
          a(href='https://github.com/mreq') mreq
        p
          small
            | Hosted on GitHub Pages — Theme by
            a(href='https://github.com/orderedlist') orderedlist
    script(src='gh-pages/javascripts/scale.fix.js')
